@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #0F172A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

html{
  scroll-behavior: smooth;
}

.tech-icon:hover {
    transform: rotate(6deg);
    /* filter: drop-shadow(0 0 6px rgb(59, 130, 246, 0.7 )) */
}

@media screen and (max-width: 374px){
  .img-self{
    width: auto;
    height: auto;
  }
}